@page "/ForgotPasswordConfirmation"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="wrap-auth-section">
    <div class="auth row">
        <div class="auth-form">
            <div class="header">
                <div class="logo">
                    <a href="#">
                        <img src="~/images/logo/Logo_ABCG07_OK.png">
                    </a>
                </div>
                <h2 class="title">Xác minh quên mật khẩu</h2>
                <div class="text-muted caption">
                    <p>
                        Vui lòng kiểm tra email để đặt lại mật khẩu tài khoản của bạn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}