@page "/ResetPassword"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="wrap-auth-section">
    <div class="auth row">
        <div class="auth-form">
            <div class="header">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo/Logo_ABCG07_OK.png">
                    </a>
                </div>
                <h2 class="title">Chào mừng bạn đã quay trở lại</h2>
                <div class="text-muted caption">
                    Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý
                    tưởng
                </div>
            </div>
            <div class="login">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-group mb-24 ">
                        <label asp-for="Input.Email" class="mb-1">Email</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <input class="form-control" placeholder="Email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true">
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-20 ">
                        <label asp-for="Input.Password" class="mb-1">Password</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-shield-keyhole"></i></span>
                            </div>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"
                                   placeholder="Mật khẩu">
                            <div class="input-group-prepend">
                                <button type="button" tabindex="-1" data-input-target="#password"
                                        class="input-group-text toggle-password"></button>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-20 ">
                        <label asp-for="Input.ConfirmPassword" class="mb-1">Password</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-shield-keyhole"></i></span>
                            </div>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="current-password" aria-required="true"
                                   placeholder="Mật khẩu">
                            <div class="input-group-prepend">
                                <button type="button" tabindex="-1" data-input-target="#password"
                                        class="input-group-text toggle-password"></button>
                            </div>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class=" form-group mt-3">
                        <button id="login-submit" type="submit" class="btn btn-sign input-block-level w-100 h-40 mb-24  btn-primary-hover g-recaptcha">
                            Đổi mật khẩu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
